
<div class="summary">Summary of your business</div>

<div class="statuses">
	<div class="status-item">
		<img src="images/img1.png">
		<div class="status-head">Facebook status</div>
	</div>
	<div class="status-item">
		<img src="images/img2.png">
		<div class="status-head">Competitors on facebook</div>
		<div class="status-desc">You are given your competitors on facebook a fight but there's still some catching up to do.</div>
	</div>
	<div class="status-item">
		<img src="images/img3.png" style="height:185px; padding-bottom:15px;">
		<div class="status-head">Website status</div>
		<div class="status-desc">Your website definitely needs help, no big aces there yet.</div>
	</div>
	<div class="status-item">
		<img src="images/img4.png">
		<div class="status-head">Competitor's Website</div>
		<div class="status-desc">You are a tough competitor website! A bit more work and you'll ace.</div>
	</div>
</div>

<div class="button-container">
	<span>EMAIL ME THIS ANALYSIS</span>
	<button class="orange-btn" ui-sref="app.summary2">TRY FREE FOR 30 DAYS NOW !</button>
</div>
