
<div class="summary">
  <p>Whether you are new to the digital landscape or a seasoned pro,</p>
  Winnow can simplify your digital marketing
</div>

<div class="statuses">
	<div class="status-item2">
		<img src="images/page2img1.png">
    <div class="status-desc">Action items driven by strategies designed for you</div>
	</div>
	<div class="status-item2">
		<img src="images/page2img2.png">
		<div class="status-desc">On demand custom creatives for your posts</div>
	</div>
	<div class="status-item2">
		<img src="images/page2img3.png">
		<div class="status-desc">Understand your target audience better</div>
	</div>
	<div class="status-item2">
		<img src="images/page2img4.png">
		<div class="status-desc">Expand reach and relevance of your content</div>
	</div>
  <div class="status-item2">
		<img src="images/page2img5.png">
		<div class="status-desc">Drive higher engagement and response</div>
	</div>
  <div class="status-item2">
		<img src="images/page2img6.png">
		<div class="status-desc">Run impactful paid digital ads effectively</div>
	</div>
</div>

<div class="button-container">
	<button class="orange-btn-2" ui-sref="app.summary1">TRY FREE FOR 30 DAYS NOW !</button>
</div>
